
.exams .question{
    font-size: 32px;
    margin: 20px 10px;
}

.exams .question-type{
    font-size: 24px;
    background: -webkit-linear-gradient(30deg, #7fdaff, #7fdaff);
    background: linear-gradient(30deg,#7fdaff,#7fdaff);
    color: #fff;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 10px;
    margin: 8px 2px;
}

.exams .next-btn-content{
    width: 750px;

}

.exams .explain{
    background: #fff;
    margin: 40px 0;
    padding: 20px 40px;
    font-size: 32px;
}
.exams .next-btn-content .next-btn{
    width: 400px;
    margin: 20px 175px;

}

.exams .detail-desc{
    font-size: 28px;
    margin-top: 10px;
}

.exams .img-content{
    width: 80%;
    height: 300px;
    margin: 10px auto;
}

.exams .img-content img,
.exams .img-content  video{
    width: 100%;
    height: 100%;
}
