.cui-radiolist .cui-cell {
    padding: 0;
}
.cui-radiolist-label {
    display: block;
    padding: 0 10px;
}
.cui-radiolist-title {
    font-size: 24px; /*px*/
    margin: 16px;
    display: block;
    color: #888;
}
.cui-radio {}
.cui-radio.is-right {
    float: right;
}
.cui-radio-label {
    vertical-align: middle;
    margin-left: 12px;
}
.cui-radio-input {
    display: none;
}
.cui-radio-input:checked + .cui-radio-core {
    background-color: #26a2ff;
    border-color: #26a2ff;
}
.cui-radio-input:checked + .cui-radio-core::after {
    background-color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.cui-radio-input[disabled] + .cui-radio-core {
    background-color: #d9d9d9;
    border-color: #ccc;
}
.cui-radio-core {
    display: inline-block;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #ccc; /*no*/
    position: relative;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.cui-radio-core::after {
    content: " ";
    border-radius: 100%;
    top: 11px;
    left: 11px;
    position: absolute;
    width: 16px;
    height: 16px;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    -webkit-transform: scale(0);
    transform: scale(0);
}