.personal .atavar-content{
    height: 350px;
    background: #fff;
    margin: 20px 0 80px 0;
    position: relative;
}

.personal .atavar-content img {
    height: 200px;
    width: 200px;
    margin: 40px 275px 0;
    border-radius: 50%
}

.personal .atavar-content .atavar-name {
    text-align: center;
    height: 88px;
    line-height: 88px;
}

.personal .cui-cell {
    margin-bottom: 2px;
}


.cui-actionsheet{
    z-index: 999;
}

.personal-info {
    text-align: center;
}