<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="true">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../lib/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/style.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>合肥万锦驾校</title>
</head>
<body>

<div id="app" v-cloak>
    <div class="title" ref="title" v-show = "!fullScreen">
        <a  class="goBack" @click="back" v-show="backable"><i class="cesui cesui-back"></i></a>
        <cui-search
                v-show="searchable"
                v-model="searchText"
                cancel-text="取消"
                placeholder="搜索">
        </cui-search>
        <img v-show = "showLogo" src="../lib/images/logo.png">
        <div v-show = "!showLogo" class="title-content">{{title}}</div>
    </div>
    <div class="viewContent" :style="{'height': wrapperHeight + 'px'}">
        <transition :name="animate" mode="out-in">
            <keep-alive>
                <router-view></router-view>
            </keep-alive>
        </transition>
    </div>
    <div class="toolbar clearfix" ref="toolbar" v-show = "!fullScreen && showToolBar">
        <router-link class="nav1" to="/index"><span>我要报名</span></router-link>
        <router-link class="nav2" to="/exercise"><span>模拟练习</span></router-link>
        <router-link class="nav3" to="/reserved"><span>约车训练</span></router-link>
        <router-link class="nav4" to="/personal"><span>个人中心</span></router-link>
    </div>
</div>

<script src="../lib/js/scrat.js"></script>
<script src="../lib/js/flexible.js"></script>
<script src="index.js"></script>
</body>
</html>