.part{
    margin-top: 20px;
    background: #fff;
    width: 750px;
}
.part_header{
    height: 65px;
    width: 100%;
    font-size: 28px;/*no*/
    border-left: 5px solid #028bff;
    line-height: 65px;
    text-indent: 40px;
    border-bottom: 1px solid #eeebe6;/*no*/
    position: relative;
}

.part_content {
    padding: 15px 30px;
}

.part_content .list_item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc; /*no*/
}
.part_content .list_item:last-child{
    border-bottom: none;
}

.part_content .list_item .list_item_left{
    float: left;
}
.part_content .list_item .list_item_center{
    margin-left: 30px;
}
.part_content .list_item .list_item_right{
    float: right;
}

.part_content p {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}