.touchClass {
    height: 100%;
}
.examsLocal{
    transform: translate3d(0, 0, 0);
    height: 100%;
}
.fold-enter-active, .fold-leave-active {
    transition: all .5s;
}
.fold-enter, .fold-leave-active {
    transform: translate3d(0, 0, 0);
}
.examsLocal .question{
    font-size: 32px;
    margin: 20px 10px;
}

.examsLocal .question-type{
    font-size: 24px;
    background: -webkit-linear-gradient(30deg, #7fdaff, #7fdaff);
    background: linear-gradient(30deg,#7fdaff,#7fdaff);
    color: #fff;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 10px;
    margin: 20px px;
}

.examsLocal .next-btn-content{
    width: 750px;

}

.examsLocal .explain{
    background: #fff;
    margin: 40px 0;
    padding: 20px 40px;
    font-size: 32px;
}
.examsLocal .next-btn-content .next-btn{
    width: 400px;
    margin: 20px 175px;

}

.examsLocal .detail-desc{
    font-size: 28px;
    margin-top: 10px;
}

.examsLocal .img-content{
    width: 80%;
    height: 300px;
    margin: 10px auto;
}

.examsLocal .img-content img,
.examsLocal .img-content  video{
    width: 100%;
    height: 100%;
}
.examsLocal .question-item{
    position: relative;
    margin:20px 0;
}
.examsLocal .item{
    margin-left: 70px;
    margin-top: 10px;
}

.examsLocal .start {
    position: relative;
    font-style: normal;
}
.examsLocal .start-uncheck:before{
    content: "\2605";
    position: absolute;
    left:20px;
    top:-10px;
    color: #9b9b9b;
    font-size: 44px;
    font-style: normal;
}

.examsLocal .start-checked:before{
    content: "\2605";
    position: absolute;
    left:20px;
    top:-10px;
    color: #ff9000;
    font-size: 44px;
    font-style: normal;
}

.examsLocal .cancel-btn{
    width: 250px;
    margin: 40px 250px;
}
